<!DOCTYPE html>
<html>
	<head>
	
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<!-- configuration parameters -->
		<meta name="defaultView" content="slideshow" />
		<meta name="controlVis" content="hidden" />
		
		<!-- favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
		
		<!-- stylesheet links -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
		<link href="https://static1.squarespace.com/static/ta/5594f9fce4b0c1a905697ba1/579/assets/fonts/calluna/stylesheet.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/ui/default/slides.css" type="text/css" media="projection" id="slideProj" />
		<link rel="stylesheet" href="/ui/default/outline.css" type="text/css" media="screen" id="outlineStyle" />
		<link rel="stylesheet" href="/ui/default/print.css" type="text/css" media="print" id="slidePrint" />
		<link rel="stylesheet" href="/ui/default/opera.css" type="text/css" media="projection" id="operaFix" />
				
		<!-- S5 JS -->
		<script src="/ui/default/slides.js" type="text/javascript"></script>
		
	</head>
	<body>
		<div class="layout">
			<div id="controls"></div>
			<div id="currentSlide"></div>
			<div id="header"></div>
			<div id="footer">
				<h1>Server-Side React and Redux in Java 8</h1>
				<h2>Using the Nashorn script engine within a Spring Boot web application</h2>
			</div>
		</div>
		
		<div class="presentation">
		
			<div class="slide">
				<h1>Server-Side React and Redux in Java 8</h1>
				<h2>using the Nashorn script engine within a Spring Boot web application</h2>
				<h3>Arran White and Ruth Mills</h3>
				<h4>Connect Group</h4>
			</div>
						
			<div class="slide">
				<h1>Nashorn</h1>
				<ul>
					<li>Runs Javascript natively on the JVM</li>
					<li>Available out of the box as part of Java 8</li>
					<li>Far better performance than the older Rhino JS engine</li>
					<li>Can run from within a Java application or directly from the command line</li>
					<li>Can execute Java code from within Javascript</li>
					<li>So you can have Java code that calls Javascript that calls more Java code</li>
				</ul>
			</div>

		</div>
	</body>
</html>
